<div class="pageWrapper">

  <header-component classes='top-head'></header-component>

  <div id="contentWrapper">

    <div class="pageContent">

      <div class="section welcome-section">
        <div class="container">
               
              <div class="dn-snippet" id="dn-snippet-privacycookiesstatement">
                  <h2>Privacy and Cookies Statement (EXEMPLE !!!)</h2> 
                  <h4>&nbsp;</h4>
                  <h3>About us</h3>
                  <p><a href="http://www.google.com">www.google.com</a>,&nbsp;<a href="http://www.google.com">www.google.com</a>&nbsp;and associated ezetop and Ding mobile applications (each the “<strong>Website</strong>”) are operated by, and the Top-up and Cheap Calls services (“<strong>Services</strong>”) are provided by, ezetop Unlimited Company (“<strong>ezetop</strong>”, “<strong>we</strong>” or “<strong>us</strong>”). We are registered in Ireland with registered number 422514 and we have our registered office at 3 Shelbourne Buildings, Crampton Avenue, Shelbourne Road, Ballsbridge, Dublin 4, Ireland. Our VAT number is 9576713i. Ding is a registered business name of ezetop.</p>
                  <p>ezetop Online Services LLC is a wholly owned subsidiary&nbsp;of <em>ezetop</em>. All correspondence in relation to any <em>ezetop</em> company should be sent to 3 Shelbourne Buildings, Crampton Avenue, Shelbourne Road, Ballsbridge, Dublin 4, Ireland.&nbsp;</p>
                  <h4>&nbsp;</h4>
                  <h3>What is <em>ezetop</em>’s Privacy and Cookies statement?</h3>
                  <p>At <em>ezetop</em>, we always respect our customers’ privacy and personal information and we take this matter very seriously. We have worked very hard to earn our members’ trust and keeping it is our top priority. That’s why we comply with the obligations that are laid out under data protection laws. We want you to know our Privacy and Cookies Statement so that you can know exactly how we use any personal data that you provide us with. This Privacy and Cookies Statement will apply to your Personal Data collected through the Website.&nbsp;We recommend that you read the Privacy and Cookies Statement carefully. Please note that by visiting and clicking “Create Account” when registering on the Website, you are accepting the terms of this Privacy and Cookies Statement.</p>
                  <p>Capitalised terms not defined here shall have the meaning given to them in the&nbsp;<a href="/terms-conditions">terms and conditions</a>.</p>
                  <h4>&nbsp;</h4>
                  <h3>What about other websites linked on this Website?</h3>
                  <p><em>ezetop</em> is a unique company because we have partnerships with a variety of different mobile network operators around the world. We will frequently post links to some of our partners’ websites however, please note that ezetop is not responsible for the content or the privacy policies of these other websites.</p>
                  <h4>&nbsp;</h4>
                  <h2>Data Collected</h2>
                  <h4>&nbsp;</h4>
                  <h3>What data does ezetop collect?</h3>
                  <p>There are two types of data that we collect:</p>
                  <p>"<strong>Personal Data</strong>” – This is information that identifies you or can be used to identify you. We may collect and process the following Personal Data about you:&nbsp;</p>
                  <ul>
                      <ul>
                          <li>Your name;</li>
                          <li>Your email address;</li>
                          <li>Your billing address;</li>
                          <li>Your credit or debit card details (however, we only retain certain digits);</li>
                          <li>Your telephone number;</li>
                          <li>Your IP address;</li>
                          <li>Other information you provide by filling in forms on the Website. This includes information you provide at the time of registering on the Website;</li>
                          <li>We may also ask for information if you report a problem with the Website;</li>
                          <li>If you contact us we may keep a record of that correspondence;</li>
                          <li>Details of the Top-up transactions you carry out on, and your visits to, the Website;</li>
                          <li>Details of the Cheap Calls Credit you purchase through, and your visits to the Website.</li>
                      </ul>
                  </ul>
                  <h4>&nbsp;</h4>
                  <p><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">We also collect and process the receive mobile telephone number that you provide to us. This is necessary to facilitate the sending of Top-up to that number.</span></p>
                  <p><strong>"Non-Personal Data”</strong>- Like most other websites, ezetop gathers statistical and analytical information. This is what we call Non-Personal Data. Unlike Personal Data, this information cannot be used to identify or contact you. Examples of Non-Personal Data include browser types and other anonymous statistical data involving the use of the Website.</p>
                  <h4>&nbsp;</h4>
                  <h3 style="margin-bottom: 0px;">How does ezetop collect this Non-Personal Data?</h3>
                  <p>At ezetop we are always looking to improve the Website and Services and help our customers as much as possible, and collecting this data is an important way of achieving this. We want to get a better understanding of where our customers come from, what they like and what improvements they want from ezetop. We are always looking to develop, grow and innovate. This data is a crucial part of the process.</p>
                  <div class="ez-content-text ez-content-big">
                      <h4>&nbsp;</h4>
                      <h2>Use of Your Personal Data</h2>
                      <h4>&nbsp;</h4>
                      <h3>How do we use your Personal Data?</h3>
                      <p>We may use this Personal Data for the following:</p>
                      <ul>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To help you send the Top-up that you have requested and to process any payment connected with that Top-up request;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To provide you with Cheap Calls Credit and to process any payment connected with that request;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To contact you if it's required in relation to the Top-up that you have sent, Cheap Calls Credit you have purchased or to reply to any communications that you might have sent us;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To provide you with information on products or services that might interest you;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To notify you about any changes to the Website or Services;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To ensure that content on the Website is presented in the most effective manner for you and your computer;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">To provide you with customer care;</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">For marketing analysis; and</span></li>
                          <li><span style="font-size: 19px; line-height: 1.5em; background-color: transparent;">For security and fraud prevention purposes.</span></li>
                      </ul>
                      <h4>&nbsp;</h4>
                      <h2>Cookies</h2>
                      <h4>&nbsp;</h4>
                      <h3>What is a Cookie?</h3>
                      <p>A cookie is a small text file of letters and numbers that is stored by the browser on your computer when you visit certain websites. A cookie allows a website to distinguish your computer from other users’ computers.&nbsp;</p>
                      <h4>&nbsp;</h4>
                      <h3>Do Cookies hold my Personal Data?</h3>
                      <p>Generally speaking, cookies do not contain Personal Data unless you have already given this information to the Website.</p>
                      <h4>&nbsp;</h4>
                      <h3>What Type of Cookies Do the Websites Use and For What Purposes?</h3>
                      <p><a href="/cookies/">Click here</a> to view the first and third party cookies which are used on <a href="http://www.google.com">www.google.com</a>&nbsp;and <a href="http://www.google.com">www.google.com</a>. ezetop may add cookies to, or delete cookies from, this table to reflect the cookies being used on the websites at a point in time.</p>
                      <p>As detailed in the table, the websites use cookies which fall into the following categories:</p>
                      <p><strong>Strictly Necessary Cookies</strong></p>
                      <p>These allow you to remain logged in for the duration of your visit to the websites and enable you to take actions without having to login again.</p>
                      <p><strong>Functional Cookies</strong></p>
                      <p>These allow the websites to remember certain details about the choices you make (e.g. the language with which you are browsing the websites) to provide you with a better experience of using the websites.</p>
                      <p><strong>Analytical Cookies</strong></p>
                      <p>These allow us to recognize and count the number of visitors to the websites. They also allow us to calculate how long you spend on the websites and to see how you arrived at the websites. They help <em>ezetop</em> to improve the way the websites work.</p>
                      <h4>&nbsp;</h4>
                      <h3>What Type of Cookies Do the Mobile Applications Use?</h3>
                      <p><em>The ezetop and Ding mobile applications do not use cookies. The apps do retrieve an advertising number from your device which is stored securely in the app itself - t</em><em>his number is used to identify how a user initially found the app (e.g. through which advertising campaign) and for app analysis purposes via third party analytics services.</em></p>
                      <h4>&nbsp;</h4>
                      <h3>Can I block or delete Cookies?</h3>
                      <p>Yes you can if that is what you choose to do. Note that this may make it less convenient for you to use our websites.</p>
                      <h4>&nbsp;</h4>
                      <h3>How to disable Cookies?</h3>
                      <p><a href="http://www.aboutcookies.org" target="_blank">Click here</a> for information on how to disable cookies from some of the more popular web browsers.</p>
                      <h4>&nbsp;</h4>
                      <h2>Third Parties</h2>&nbsp;
                      <h3>Does <em>ezetop</em> give Personal Data to third parties?</h3>
                      <p>We will never disclose your Personal Data to any third party unless you have agreed to this or unless the third party is required to process the Personal Data in connection with Top-up or Cheap Calls service you have requested.</p>
                      <p>Your credit or debit card details are processed by a world leading provider of online payments processing which stores the card details if you request so that you do not need to enter them each time you visit the Website.</p>
                      <p>When you use the <em>ezetop</em> Top-up service, we disclose the receive mobile telephone number to the relevant mobile operator (which may be located in a country outside of the EEA) in order to facilitate the sending of Top-up to that number.</p>
                      <p>When you use the <em>ezetop</em> Cheap Calls service, your Personal Data is disclosed to ezetop’s platform service provider (located in the U.S.) in order to facilitate your international long distance call. The following information is processed by the platform service provider:</p>
                      <ul>
                          <li>Date and time of the international long distance call;</li>
                          <li>Telephone number making the call;</li>
                          <li>Access number used;</li>
                          <li>The region and telephone number called;</li>
                          <li>Duration of the call;</li>
                          <li>Customer Account balance before and after the call;</li>
                          <li>Information provided in course of customer care;</li>
                      </ul>
                      <h4>&nbsp;</h4>
                      <p>We may disclose your Personal Data if we are required to comply with any applicable law, a summons, a warrant, a court or regulatory order, or other statutory requirement.</p>&nbsp;
                      <h3>Does <em>ezetop</em> give Non-Personal Data to third parties?</h3>
                      <p>We may provide Non-Personal Data to third parties (for example mobile operators) regarding the number of unique users who visit our Website, the demographic breakdown of users of our Website, or the activities of users on our Website.</p>
                      <h4>&nbsp;</h4>
                      <h3>What can people learn from this Non-Personal Data?</h3>
                      <p>There are a lot of useful things to be learned from this information. For example, it can help potential advertisers, providers of advertising services, commercial partners, sponsors, licensees, researchers and other similar parties.</p>
                      <h4>&nbsp;</h4>
                      <h3>What if <em>ezetop</em> is bought by another company?</h3>
                      <p>We reserve the right to transfer information (including your Personal Data) to a third party in the event of a sale, merger, liquidation, receivership or transfer of all or substantially all of the assets of our company. The third party must only use your Personal Data for the purposes that you provided it to us in the first place. You will be notified in the event of any such transfer and you will be afforded an opportunity to opt-out.</p>
                      <h4>&nbsp;</h4>
                      <h3>Can anything go wrong with the information sent?</h3>
                      <p>As you will know, the nature of the internet is such that we cannot guarantee the security of the information that you send to us. This isn’t unique to <em>ezetop</em> though because no data that is sent over the internet can be guaranteed to be 100% secure. Any company that tells you otherwise is talking nonsense. We do however take every step reasonably possible to protect your Personal Data.</p>&nbsp;
                      <h2>Direct Marketing</h2>&nbsp;
                      <h3>Will <em>ezetop</em> use my Personal Data for direct marketing purposes?</h3>
                      <p>Where you have consented, we may use your Personal Data to send you information by SMS or email relating to our products and services which may be of interest to you or similar products and services to those you have previously purchased from <em>ezetop</em>.</p>
                      <p><em>ezetop</em> does not sell or share your Personal Data or CPNI data with subsidiary companies or third parties for marketing or profit purposes.</p>&nbsp;</div>
                  <h4 class="ez-content-text ez-content-big">&nbsp;</h4>
                  <div class="ez-content-text ez-content-big">
                      <h3>Can I opt-out/unsubscribe?</h3>
                      <p>You will be provided with an opportunity to opt-out at the point of registration. You can also opt-out at any time, free of charge, by using the unsubscribe facility in the SMS or email that <em>ezetop</em> sends to you or by sending an email to <a href="mailto:customercare@Ding.com">customercare@google.com</a></p>
                      <h4>&nbsp;</h4>
                      <h2>Other Questions</h2>
                      <h4>&nbsp;</h4>
                      <h3>Where is my Personal Data held?</h3>
                      <p>Your Personal Data is held on our secure servers which are hosted by a third party service provider in Ireland.</p>
                      <h4>&nbsp;</h4>
                      <h3>Can I update, correct or erase my Personal Data?</h3>
                      <p>Of course you can. Please tell us about any changes or inaccuracies in your Personal Data and we will update, correct or erase your Personal Data as requested. There is no charge for this and we will comply with your request as soon as practicable and in any event within not more than 40 days of receipt of your request.</p>
                      <p>Please contact us at <a href="mailto:customercare@Ding.com">customercare@google.com</a> or at <em>ezetop</em>, 3 Shelbourne Buildings, Crampton Avenue, Shelbourne Road, Ballsbridge, Dublin 4, Ireland.</p>
                      <h4>&nbsp;</h4>
                      <h3>Can I access my Personal Data?</h3>
                      <p>You may also request copies of your Personal Data held by us. We will provide you with a copy of the Personal Data held by us as soon as practicable and in any event within not more than 40 days of your request in writing. There may be a small charge for this (not exceeding €6.35) and we may also request proof of identification to verify your access request.</p>
                      <p>Please contact us at <a href="mailto:customercare@Ding.com">customercare@google.com</a> or at <em>ezetop</em>, 3 Shelbourne Buildings, Crampton Avenue, Shelbourne Road, Ballsbridge, Dublin 4, Ireland.</p>
                      <h4>&nbsp;</h4>
                      <h3>Can <em>ezetop</em> change its Privacy and Cookies Statement?</h3>
                      <p>Any changes to <em>ezetop</em>'s Privacy and Cookies Statement will be posted clearly on our Website. We do this because we always want our customers to know exactly what information we collect, how we use it, and under what circumstances, if any, we disclose it. If we ever decide to use Personal Data in a manner that is different from what has previously been stated then we will notify you by email. You will have a choice as to whether or not we can use your information in this new manner.</p>
                      <h4>&nbsp;</h4>
                      <h3>How can I get in contact with <em>ezetop</em>?</h3>
                      <p>If you have any questions about your Personal Data, this Privacy and Cookies Statement or any complaints then please email us at <a href="mailto:customercare@Ding.com">customercare@google.com</a> or else you can call +353 1 630 6300 and ask to speak to someone in customer care.</p>
                      <p>©<em> Ezetop Unlimited Company t/a Ding</em> 2016</p>
                  </div>
              </div>

        </div>        
      </div>  

    </div>

    <footer-component></footer-component>

  </div>

</div>

