
<div class="pageWrapper">
	
	<top-bar></top-bar>

	<div class="space"></div>


	<header-component classes='top-head'></header-component>
	
					
	<div id="contentWrapper">
	
		<div class="pageContent">
			
			<div class="page-title title-1">
				<div class="container">
					<div class="row">
						<h1>404 Error Page</h1>
						<h3>This is sub heading text to describe the page functionality</h3>
						
						<div class="breadcrumbs">
							<a href="#">Home</a><i class="fa fa-long-arrow-right main-color"></i><a href="#">Pages</a><i class="fa fa-long-arrow-right main-color"></i><span>404 Error page</span>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="padding-vertical-30 not-found clearfix">
							<div class="lg-not-found f-left">404<i></i></div>
							<div class="ops">
								<span class="main-color bold font-50">OOOPS!</span><br>
								<span class="pg-nt-fnd">The Page You Are Looking for couldn’t Be Found.</span>
							</div>
							
							<p class="t-center">You can use the form below to search for what you need.</p>
							
							<div class="not-found-form">
								<form method="post" action="#">
									<input type="text" class="shape" required="required" name="login-user" placeholder="Enter Search Keyword...">
									<input type="submit" class="btn btn-xl main-bg shape btn-soon" value="Search">	    					    	    					    
								</form>
							</div>
							
							<p class="t-center">You can browse the following links that may help you for what you are looking for.</p>
							
							<div class="margin-top-50">
								<div class="col-md-3">
									<ul class="list">
										<li><a href="index.html"><i class="fa fa-crosshairs"></i>Home Page</a></li>
										<li><a href="about-us.html"><i class="fa fa-crosshairs"></i>About Us</a></li>
										<li><a href="FAQ.html"><i class="fa fa-crosshairs"></i>FAQ</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="list">
										<li><a href="portfolio-grid-3-cols.html"><i class="fa fa-crosshairs"></i>Our Portfolio</a></li>
										<li><a href="contact.php"><i class="fa fa-crosshairs"></i>Contact Us</a></li>
										<li><a href="shop-left-bar.html"><i class="fa fa-crosshairs"></i>Shop</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="list">
										<li><a href="services.html"><i class="fa fa-crosshairs"></i>Services</a></li>
										<li><a href="#"><i class="fa fa-crosshairs"></i>Support</a></li>
										<li><a href="team.html"><i class="fa fa-crosshairs"></i>Meet the team</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="list">
										<li><a href="blog.html"><i class="fa fa-crosshairs"></i>Our Blog</a></li>
										<li><a href="#"><i class="fa fa-crosshairs"></i>Forums</a></li>
										<li><a href="#"><i class="fa fa-crosshairs"></i>Our Features</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
				
		</div>			    
			
		<footer-component></footer-component>

	</div>
</div>
	
