<div class="top-bar main-bg">
  <div class="container">

    <div class="center-tbl">

      <ul class="top-info">
        <li><a href="#" class="shape"><i class="fa fa-envelope"></i>email@domain.com</a></li>
        <li><span><i class="fa fa-phone"></i> +1 (888) 000-0000</span></li>
      </ul>

      <ul class="social-list middle-ul alter-bg shape">
        <li><a href="#" class="fa fa-dribbble" data-tooltip="true" data-title="dribbble" data-position="bottom"></a></li>
        <li><a href="#" class="fa fa-facebook" data-tooltip="true" data-title="facebook" data-position="bottom"></a></li>
        <li><a href="#" class="fa fa-linkedin" data-tooltip="true" data-title="linkedin" data-position="bottom"></a></li>
        <li><a href="#" class="fa fa-skype" data-tooltip="true" data-title="skype" data-position="bottom"></a></li>
        <li><a href="#" class="fa fa-twitter" data-tooltip="true" data-title="twitter" data-position="bottom"></a></li>
      </ul>

      <ul>
        <li class="dropdown"><a href="#" class="shape" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="login-bx"><i class="fa fa-lock"></i>Login</a>
          <div class="dropdown-menu login-popup black-bg">
            <p class="small">Hello our valued visitor, We present you the best web solutions, just login ...</p>
            <div class="login-controls">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="User name Or Email" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Password" />
              </div>
              <div class="form-group floated-controls">
                <span class="block checkbox-block"><input type="checkbox" class="checkbox" /> <span>Remember Me!</span></span>
                <a href="#">Forgot your password ?</a>
              </div>
              <div>
                <button type="button" class="btn main-bg">Submit</button>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#" class="shape" data-toggle="modal" data-target="#registermodal"><i class="fa fa-user"></i> Register</a></li>
        <li><a class="shape" href="sitemap.html"><i class="fa fa-sitemap"></i> Site map</a></li>
      </ul>

    </div>

  </div>
</div>


