<div class="login-page login-1">
  <div class="pageWrapper">

    <div id="contentWrapper">

      <div class="login-box-lg">

        <!-- top element -->
        <div class="clearfix over-hidden top-element">
          <div class="logo light f-left">
            <a routerLink="/"><img alt="" src="assets/images/logo-light.png"></a>
          </div>
          <div class="login-head f-right">Login</div>
        </div>

        <!-- -->
        <div class="login-inner shape">

          <h4 class="bold intro uppercase black-color">Use this form to Login to my Account.</h4>



          <form class="login-form" id="login-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group form-input" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <label class="main-color" for="email">Email</label>
              <span class="fa fa-user main-color"></span>
              <input type="email" class="form-control shape" name="email" [(ngModel)]="model.email" #email="ngModel" required />
              <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
            </div>
            <div class="form-group form-input" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label class="main-color" for="password">Password</label>
              <span class="fa fa-lock main-color"></span>
              <input type="password" class="form-control shape" name="password" [(ngModel)]="model.password" #password="ngModel" required
              />
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group form-input">
              <button [disabled]="loading" class="btn btn-lg btn-block main-bg shape">Login</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
            </div>
          </form>


          <p>Login or Register with:</p>

          <div class="social">
            <a href="{{apiUrl}}/api/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="{{apiUrl}}/api/auth/google" class="btn btn-primary google-btn"><span class="fa fa-google"></span> Google </a>
          </div>




          <div class="login-links">
            <a>Forgot Password?</a>&nbsp;&nbsp;&nbsp;<i class="fa fa-circle main-color font-10"></i>&nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/registration']">Create New Account</a>
          </div>


        </div>

        <div class="copyrights white">© Copyrights <b class="main-color">Recharge4.com</b> 2017. All rights reserved.</div>

      </div>

    </div>
  </div>
</div>