<preloader></preloader>

<div class="pageWrapper">
  <!-- 'animsition' - class for preloader -->

  <header-component classes='top-head boxed-transparent dark'></header-component>
  <top-slider></top-slider>


  <div id="contentWrapper">

    <div class="section easy-steps">
      <div class="heading full-heading alter-gry" style="background-image:url('assets/images/patterns/bg2.jpg')">
        <h3 class="inner-head">It’s really that<span class="main-color heavy-font"> easy</span></h3>
      </div>

      <!-- [STEPS] -->
      <div class="container easy-steps">
        <div class="row">
          <div class="col-md-half"></div>
          <!-- [step] -->
          <div class="col-md-3">
            <div class="icon-box box-1 bordered">
              <div class="inner">
                <div class="block-icon lg-icon transparent">
                  <i class="fa fa-mobile-phone"></i>
                </div>
                <h3 class="t-center">Choose number</h3>
              </div>
            </div>
          </div>
          <!-- > -->
          <div class="col-md-1 arrow-block">
            <div class="icon-box box-1">
              <div class="inner">
                <div class="block-icon lg-icon transparent">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- [step] -->
          <div class="col-md-3">
            <div class="icon-box box-1 bordered">
              <div class="inner">
                <div class="block-icon lg-icon transparent">
                  <i class="fa fa-send-o"></i>
                </div>
                <h3 class="t-center">Send minutes</h3>
              </div>
            </div>
          </div>
          <!-- > -->
          <div class="col-md-1 arrow-block">
            <div class="icon-box box-1">
              <div class="inner">
                <div class="block-icon lg-icon transparent">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- [step] -->
          <div class="col-md-3">
            <div class="icon-box box-1 bordered">
              <div class="inner">
                <div class="block-icon lg-icon transparent">
                  <i class="fa fa-wechat"></i>
                </div>
                <h3 class="t-center">Start talking</h3>
              </div>
            </div>
          </div>
          <!-- space -->
          <div class="v-space-40"></div>
          <!-- button -->
          <a routerLink="/first-instruction" class="btn btn-xl main-bg shape new-angle centered">Top-up in seconds</a>

        </div>
      </div>
    </div>


    <div class="section parallax" style="background-image:url('assets/images/people.jpg')" data-stellar-background-ratio="0.4">
      <div class="heading full-heading main-bg">
        <h3 class="inner-head white">Testimonials</h3>
        <h5 class="small-heading white"><span class="black-color">What People </span>Said</h5>
      </div>
      <div class="container">

        <p class="heading-desc centered white">Rated 8 out of 10 based on 1,201 reviews. See some of the reviews here.</p>

        <div class="testimonials testimonials-4 horizontal-slider" data-slides_count="3" data-scroll_amount="1" data-slider-speed="300"
          data-slider-infinite="1" data-slider-dots="1" data-slider-arrows="0">
          <div>
            <div class="testimonials-bg white shape lg">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing
                elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam
                elit consequat eget augue vitae aliquet.</p>
            </div>
            <div class="testimonials-img main-border">
              <img alt="" src="assets/images/testimonials/a3.jpg">
            </div>
            <div class="testimonials-name main-color">
              <strong>Ellina Williams</strong>: ThemeForest
              <br>
              <span class="white block">UX Developer</span>
            </div>
          </div>
          <div>
            <div class="testimonials-bg white shape lg">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing
                elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam
                elit consequat eget augue vitae aliquet.</p>
            </div>
            <div class="testimonials-img main-border">
              <img alt="" src="assets/images/testimonials/a2.jpg">
            </div>
            <div class="testimonials-name main-color">
              <strong>Ellina Williams</strong>: ThemeForest
              <br>
              <span class="white block">UX Developer</span>
            </div>
          </div>
          <div>
            <div class="testimonials-bg white shape lg">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing
                elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam
                elit consequat eget augue vitae aliquet.</p>
            </div>
            <div class="testimonials-img main-border">
              <img alt="" src="assets/images/testimonials/a1.jpg">
            </div>
            <div class="testimonials-name main-color">
              <strong>Ellina Williams</strong>: ThemeForest
              <br>
              <span class="white block">UX Developer</span>
            </div>
          </div>
          <div>
            <div class="testimonials-bg white shape lg">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing
                elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam
                elit consequat eget augue vitae aliquet.</p>
            </div>
            <div class="testimonials-img main-border">
              <img alt="" src="assets/images/testimonials/a4.jpg">
            </div>
            <div class="testimonials-name main-color">
              <strong>Ellina Williams</strong>: ThemeForest
              <br>
              <span class="white block">UX Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="section">

      <div class="heading full-heading alter-gry" style="background-image:url('assets/images/patterns/bg2.jpg')">
        <h3 class="inner-head">Recargas a todo el mundo con más de <span class="main-color heavy-font">400 operadoras.</span></h3>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-md-12 t-center zindx-0">
            <img class="fx" data-animate="fadeInUp" alt="" src="assets/images/world-and-phones.jpg" />
          </div>

        </div>

        <!-- SPACE -->
        <br><br>


        <!-- SLIDER -->
        <div   class="clients horizontal-slider slick-initialized slick-slider" data-scroll_amount="6" data-slider-arrows="1"
          data-slider-dots="0" data-slider-infinite="1" data-slider-speed="300" data-slides_count="6">
          <div class="slick-list draggable" tabindex="0">
            <div class="slick-track" style="opacity: 1; width: 3990px; transform: translate3d(-1140px, 0px, 0px);">
              <div   class="slick-slide slick-cloned" index="-6" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/4.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="-5" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/5.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="-4" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/6.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="-3" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/7.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="-2" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/8.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="-1" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/9.png"></a>
              </div>
              <div   class="slick-slide slick-active" index="0" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/1.png"></a>
              </div>
              <div   class="slick-slide slick-active" index="1" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/2.png"></a>
              </div>
              <div   class="slick-slide slick-active" index="2" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/3.png"></a>
              </div>
              <div   class="slick-slide slick-active" index="3" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/4.png"></a>
              </div>
              <div   class="slick-slide slick-active" index="4" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/5.png"></a>
              </div>
              <div   class="slick-slide slick-active" index="5" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/6.png"></a>
              </div>
              <div   class="slick-slide" index="6" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/7.png"></a>
              </div>
              <div   class="slick-slide" index="7" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/8.png"></a>
              </div>
              <div   class="slick-slide" index="8" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/9.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="9" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/1.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="10" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/2.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="11" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/3.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="12" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/4.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="13" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/5.png"></a>
              </div>
              <div   class="slick-slide slick-cloned" index="14" style="width: 190px;">
                <a   href="#"><img   alt="" src="assets/images/clients/6.png"></a>
              </div>
            </div>
          </div>
          <button type="button" data-role="none" class="slick-prev" style="display: block;">Previous</button><button type="button"
            data-role="none" class="slick-next" style="display: block;">Next</button></div>


      </div>
    </div>

    <div class="section parallax" style="background-image:url('assets/images/bgs/sec-bg-01.jpg');padding:30px 0" data-stellar-background-ratio="0.6">
      <div class="container">
        <div class="cta_btn">

          <div class="f-left">
            <h2 class="cta_heading bold"><span class="main-color">Recharge</span> is Designed Specially for You</h2>
            <h4 class="cta_heading">Call Us at <span class="main-color">+888-0000-000-000</span> and check out our great features, we hope you enjoy
              it.</h4>
          </div>

          <a routerLink="/first-instruction" class="btn btn-xl main-bg f-right shape" >Purchase Now</a>

        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">

          <div class="col-md-8 box-feachures">
            <div class="heading sub-head">
              <h3 class="head-4"><span class="main-color">Our </span><span class="bold">Features</span></h3>
            </div>
            <div class="row">
              <div class="col-md-6 box-feachures-el">
                <div class="icon-box-small">
                  <i class="fa fa-leaf main-bg filled shape md-icon"></i>
                  <div class="icon-sm-desc md-desc">
                    <h4>Clean, Valid HTML5 Code</h4>
                    <p>Proin gravida nibh vel velit auctor enean sollicitud.</p>
                  </div>
                </div>
                <div class="icon-box-small">
                  <i class="fa fa-refresh main-bg filled shape md-icon"></i>
                  <div class="icon-sm-desc md-desc">
                    <h4>Fully Customizable</h4>
                    <p>Proin gravida nibh vel velit auctor enean sollicitud.</p>
                  </div>
                </div>
                <div class="icon-box-small">
                  <i class="fa fa-paint-brush main-bg filled shape md-icon"></i>
                  <div class="icon-sm-desc md-desc">
                    <h4>High Quality Design</h4>
                    <p>Proin gravida nibh vel velit auctor enean sollicitud.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 box-feachures-el">
                <div class="icon-box-small">
                  <i class="fa fa-bomb main-bg filled shape md-icon"></i>
                  <div class="icon-sm-desc md-desc">
                    <h4>Retina Ready Template</h4>
                    <p>Proin gravida nibh vel velit auctor enean sollicitud.</p>
                  </div>
                </div>
                <div class="icon-box-small">
                  <i class="fa fa-hand-grab-o main-bg filled shape md-icon"></i>
                  <div class="icon-sm-desc md-desc">
                    <h4>Easy to use</h4>
                    <p>Proin gravida nibh vel velit auctor enean sollicitud.</p>
                  </div>
                </div>
                <div class="icon-box-small">
                  <i class="fa fa-paint-brush main-bg filled shape md-icon"></i>
                  <div class="icon-sm-desc md-desc">
                    <h4>Unlimited Colors</h4>
                    <p>Proin gravida nibh vel velit auctor enean sollicitud.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="heading sub-head">
              <h3 class="head-4"><span class="main-color">About </span><span class="bold">Recharge</span></h3>
            </div>
            <div class="panel-group accordion style-2" id="accordion-5" role="tablist">
              <div class="panel main-bg shape">
                <div class="panel-heading" role="tab" id="headingOne-5">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5"><i class="fa fa-desktop main-color"></i>Our Company Mission</a>
                  </h4>
                </div>
                <div id="collapseOne-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-5">
                  <div class="panel-body">
                    <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                      eros est egestas odio, at aliquet elit nulla sed.</p>
                  </div>
                </div>
              </div>
              <div class="panel shape">
                <div class="panel-heading" role="tab" id="headingTwo-5">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseTwo-5" aria-expanded="false"
                      aria-controls="collapseTwo-5"><i class="fa fa-circle-o-notch main-color"></i>Our Company Vision</a>
                  </h4>
                </div>
                <div id="collapseTwo-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-5">
                  <div class="panel-body">
                    <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                      eros est egestas odio, at aliquet elit nulla sed.</p>
                  </div>
                </div>
              </div>
              <div class="panel shape">
                <div class="panel-heading" role="tab" id="headingThree-5">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseThree-5" aria-expanded="false"
                      aria-controls="collapseThree-5"><i class="fa fa-apple main-color"></i>Our Company Strategy</a>
                  </h4>
                </div>
                <div id="collapseThree-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-5">
                  <div class="panel-body">
                    <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                      eros est egestas odio, at aliquet elit nulla sed.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>


      </div>
    </div>

    <div class="section">
      <div class="heading full-heading alter-gry" style="background-image:url('assets/images/patterns/bg2.jpg')">
        <h3 class="inner-head">Recharge <span class="main-color heavy-font">Features</span></h3>
      </div>
      <div class="container">

        <p class="heading-desc centered">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,.</p>

        <div class="row">
          <article class="fx col-md-3 feature-img" data-animate="fadeInUp" data-animation-delay="">
            <figure class="shape">
              <img alt="" src="assets/images/features/05.jpg" />
              <a href="#" class="top-angle"><span>+</span></a>
            </figure>
            <div class="feature-details-hidden">
              <h5 class="bold feature-head main-color">Light & Dark Skins</h5>
              <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
            </div>
          </article>
          <article class="fx col-md-3 feature-img" data-animate="fadeInUp" data-animation-delay="200">
            <figure class="shape">
              <img alt="" src="assets/images/features/02.jpg" />
              <a href="#" class="top-angle"><span>+</span></a>
            </figure>
            <div class="feature-details no-hover">
              <h5 class="bold feature-head main-color">Wide & Boxed Layouts</h5>
              <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
            </div>
          </article>
          <article class="fx col-md-3 feature-img" data-animate="fadeInUp" data-animation-delay="400">
            <figure class="shape">
              <img alt="" src="assets/images/features/03.jpg" />
              <a href="#" class="top-angle"><span>+</span></a>
            </figure>
            <div class="feature-details no-hover">
              <h5 class="bold feature-head main-color">HTML5 Videos</h5>
              <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
            </div>
          </article>
          <article class="fx col-md-3 feature-img" data-animate="fadeInUp" data-animation-delay="600">
            <figure class="shape">
              <img alt="" src="assets/images/features/04.jpg" />
              <a href="#" class="top-angle"><span>+</span></a>
            </figure>
            <div class="feature-details no-hover">
              <h5 class="bold feature-head main-color">Well Documented</h5>
              <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- BLOCK ADVANTAGES -->
    <div class="block-advantages row-eq-height gry-bg">

      <div class="col-md-6 sec-bg left circle parallax" data-stellar-background-ratio="0.4" data-overlay="rgba(0,0,0,.4)" style="background-image:url('assets/images/bgs/bg-05.jpg')">
        <div class="col-md-2"></div>
        <div class="col-md-8 padding-vertical-80">
          <div class="row relative">

            <div class="v-space-30 if-less-992"></div>

            <div class="col-md-6 adv-card">
              <div class="white-bg fun shape lg fx" data-animate="flipInX">
                <div class="fun-icon main-color"><i class="fa fa-users"></i></div>
                <div class="fun-number bolder t-center odometer" data-initial="0" data-value="2500" data-timer="0"></div>
                <div class="fun-info t-center">Customers</div>
              </div>
            </div>

            <div class="v-space-30 if-less-992"></div>

            <div class="col-md-6 adv-card">
              <div class="white-bg fun shape lg fx" data-animate="flipInX" data-animation-delay="100">
                <div class="fun-icon main-color"><i class="fa fa-umbrella"></i></div>
                <div class="fun-number bolder t-center odometer" data-initial="0" data-value="5986" data-timer="0"></div>
                <div class="fun-info t-center">Traffic</div>
              </div>
            </div>

            <div class="clearfix margin-bottom-30"></div>

            <div class="col-md-6 adv-card">
              <div class="white-bg fun shape lg fx" data-animate="flipInX" data-animation-delay="200">
                <div class="fun-icon main-color"><i class="fa fa-clock-o"></i></div>
                <div class="fun-number bolder t-center odometer" data-initial="0" data-value="1960" data-timer="0"></div>
                <div class="fun-info t-center">Working Hours</div>
              </div>
            </div>

            <div class="v-space-30 if-less-992"></div>

            <div class="col-md-6 adv-card">
              <div class="white-bg fun shape lg fx" data-animate="flipInX" data-animation-delay="300">
                <div class="fun-icon main-color"><i class="fa fa-coffee"></i></div>
                <div class="fun-number bolder t-center odometer" data-initial="0" data-value="250" data-timer="0"></div>
                <div class="fun-info t-center">Cofee Cups</div>
              </div>
            </div>

            <div class="v-space-30 if-less-992"></div>

          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <!-- Right block-->
      <div class="advn-right col-md-6 padding-vertical-80 padding-horizontal-20">
        <div class="col-md-12 full-cell">
          <div class="heading sub-head">
            <h3 class="heavy-font head-4 font-30 uppercase">Our <span class="main-color">Advantages</span></h3>
          </div>
          <p class="heading-desc">Let’s Create Unlimited Websites With this Fancy Huge HTML Template, With Endless possibilities and very easy Customization,
            What else do you need to create all your websites, it is completely complete one.</p>

          <!-- Levels -->
          <div style="padding-right: 30px">
            <span _ngcontent-c5="" class="bar-title">Web Development</span>
            <div _ngcontent-c5="" class="progress">
              <div _ngcontent-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-success progress-bar-striped shape active"
                role="progressbar" style="opacity: 1; width: 40%;">
                <span _ngcontent-c5="">40%</span>
              </div>
            </div>

            <span _ngcontent-c5="" class="bar-title">SEO Management</span>
            <div _ngcontent-c5="" class="progress">
              <div _ngcontent-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-info progress-bar-striped shape active"
                role="progressbar" style="opacity: 1; width: 30%;">
                <span _ngcontent-c5="">30%</span>
              </div>
            </div>

            <span _ngcontent-c5="" class="bar-title">Graphic design</span>
            <div _ngcontent-c5="" class="progress">
              <div _ngcontent-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar progress-bar-warning progress-bar-striped shape active"
                role="progressbar" style="opacity: 1; width: 60%;">
                <span _ngcontent-c5="">60%</span>
              </div>
            </div>

            <span _ngcontent-c5="" class="bar-title">WordPress</span>
            <div _ngcontent-c5="" class="progress">
              <div _ngcontent-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger progress-bar-striped shape active"
                role="progressbar" style="opacity: 1; width: 80%;">
                <span _ngcontent-c5="">80%</span>
              </div>
            </div>
          </div>




        </div>
      </div>

    </div>

    <!-- MAN -->
    <div class="section padding-bottom-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6 vertical-icons">
            <div class="heading">
              <h3 class="ultimate-titile head-angle shape main-bg uppercase font-30" >The Ultimate <span class="heavy-font">For Your Business</span></h3>
            </div>
            <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,.</p>
            <ul class="list">
              <li class="fx" data-animate="fadeInUp"><i class="fa fa-bell main-color"></i>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet.</li>
              <li class="fx" data-animate="fadeInUp" data-animation-delay="100"><i class="fa fa-bell main-color"></i>Suspendisse hendrerit id lacus</li>
              <li class="fx" data-animate="fadeInUp" data-animation-delay="200"><i class="fa fa-bell main-color"></i>Lorem ipsum dolor sit amet Fusce pellentesqu</li>
              <li class="fx" data-animate="fadeInUp" data-animation-delay="300"><i class="fa fa-bell main-color"></i>Suspendisse hendrerit id lacus</li>
              <li class="fx" data-animate="fadeInUp" data-animation-delay="400"><i class="fa fa-bell main-color"></i>Suspendisse hendrerit id lacus</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img alt="" src="assets/images/man-01.png" class="fx" data-animate="fadeInRight">
          </div>

        </div>
      </div>
    </div>

    <!-- PORTFOLIO -->
    <!-- <div class="section section-portfolio">
      
      <div class="heading full-heading alter-gry" style="background-image:url('assets/images/patterns/bg2.jpg')">
        <h3 class="inner-head">Our <span class="main-color heavy-font">Portfolio</span></h3>
        <h5 class="small-heading"><span class="main-color">Some Of </span>Our Work</h5>
      </div>

      <div class="container">
        
        <p class="heading-desc centered">Let’s Create Unlimited Websites With this Fancy Huge HTML Template, With Endless possibilities and very easy Customization, What else do you need to create all your websites, it is completely complete one.</p>
        
        <div class="filter-by">
          <ul id="filters">
                            <li class="active shape"><a href="#" class="filter" data-filter="*">All</a></li>
                            <li class="shape"><a href="#" class="filter" data-filter=".design">Web Design</a></li>
                            <li class="shape"><a href="#" class="filter" data-filter=".develop">Web Development</a></li>
                            <li class="shape"><a href="#" class="filter" data-filter=".computers">Computers</a></li>
                        </ul>
        </div>
        
        <div class="portfolio masonry p-3-cols p-style5" id="masonry">
          
          <div class="portfolio-item design">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/1.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link"></i></a>
                    <a href="assets/images/portfolio/masonry/1.jpg" class="zoom shape" title="Quality Products for Companies"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">Quality Products for Companies</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
          <div class="portfolio-item develop">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/2.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link"></i></a>
                    <a href="assets/images/portfolio/masonry/2.jpg" class="zoom shape" title="Nature vs. Man"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">Nature vs. Man</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
          <div class="portfolio-item computers">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/3.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link"></i></a>
                    <a href="assets/images/portfolio/masonry/3.jpg" class="zoom shape" title="A Day with Sunshine & Bliss"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">A Day with Sunshine & Bliss</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
          <div class="portfolio-item develop">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/4.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link"></i></a>
                    <a href="assets/images/portfolio/masonry/4.jpg" class="zoom shape" title="A Workplace for Champions"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">A Workplace for Champions</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
          <div class="portfolio-item design">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/5.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link shape"></i></a>
                    <a href="assets/images/portfolio/masonry/5.jpg" class="zoom shape" title="Doing it the Chilled Way"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">Doing it the Chilled Way</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
          <div class="portfolio-item computers">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/6.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link"></i></a>
                    <a href="assets/images/portfolio/masonry/6.jpg" class="zoom shape" title="Take a Ride in a Luxury Car"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">Take a Ride in a Luxury Car</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
          <div class="portfolio-item develop">
            <figure>
              <img alt="" src="assets/images/portfolio/masonry/7.jpg">
              <figcaption>
                <div class="icon-links">
                  <p>
                    <a href="portfolio-single.html" class="link shape"><i class="fa fa-link"></i></a>
                    <a href="assets/images/portfolio/masonry/7.jpg" class="zoom shape" title="The Long Way to the Top"><i class="fa fa-search-plus"></i></a>
                    <a class="fav shape" href="#"><i class="fa fa-heart"></i></a>
                  </p>
                </div>
                <h4><a href="portfolio-single.html">The Long Way to the Top</a></h4>
                <p class="description main-bg shape"><a href="#">Design</a>, <a href="#">Development</a></p>
              </figcaption>			
            </figure>
          </div>
        </div>
        
      </div>
          
    </div> -->


    <footer-component></footer-component>


  </div>
</div>

<!-- Back to top Link -->
<a id="to-top"><span class="fa fa-chevron-up shape main-bg new-angle"></span></a>