<div class="pageWrapper">

  <header-component classes='top-head'></header-component>

  <div id="contentWrapper">

    <div class="pageContent">

      <div class="section welcome-section">
        <div class="container">
            

              <div class="dn-snippet center-c" id="dn-snippet-termsconditions">
                  <h2>WELCOME !!!</h2>  
                  <h4>To use the service, please register</h4>
                  <a routerLink="/registration" class="btn main-bg btn-lg shape new-angle t-center big-btn" type="button">Registration <i class="fa fa-angle-right"></i></a>

              </div>


        </div>        
      </div>  

    </div>

    <footer-component></footer-component>

  </div>

</div>

