<div class="pageWrapper">

  <header-component classes='top-head'></header-component>

  <div id="contentWrapper">

    <div class="pageContent">

      <div class="page-title title-5 parallax about-title" style="background-image:url('assets/images/page-titles/1.jpg')" data-stellar-background-ratio="0.65">
        <div class="container">
          <div class="row">
            <h1 class="shape">About Us</h1>
            <h3 class="white">All what you need to know about our company</h3>
            <div class="breadcrumbs white-bg">
              <a href="#">Home</a><i class="fa fa-long-arrow-right main-color"></i><a href="#">Pages</a><i class="fa fa-long-arrow-right main-color"></i><span>About Us</span>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="heading main-heading centered">
            <h3>Welcome To <span class="bold"><span class="main-color">R</span>e<span class="main-color">C</span>harge</span>
            </h3>
            <div class="heading-separator"><span class="main-bg"></span><span class="dark-bg"></span></div>
          </div>
          <p class="heading-desc centered">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English..</p>

          <div class="row">
            <div class="col-md-3">
              <div class="icons-style-1">
                <i class="icons icons-basic-alarm animat-icon"></i>
                <h3 class="bold uppercase heading">Some about us</h3>
                <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
                <a class="btn btn-grey shape" href="#">Read More</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="icons-style-1">
                <i class="icons icons-basic-lock animat-icon"></i>
                <h3 class="bold uppercase heading">Some about us &amp; Some</h3>
                <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
                <a class="btn btn-grey shape" href="#">Read More</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="icons-style-1">
                <i class="icons icons-basic-pencil-ruler animat-icon"></i>
                <h3 class="bold uppercase heading main-color">Some about us</h3>
                <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
                <a class="btn main-bg shape" href="#">Read More</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="icons-style-1">
                <i class="icons icons-basic-home animat-icon"></i>
                <h3 class="bold uppercase heading">Some about us</h3>
                <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
                <a class="btn btn-grey shape" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-vertical-0">
        <div class="container">
          <div class="divider centered"><i class="fa fa-sun-o"></i></div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4 class="uppercase"><span class="main-color">Some of</span> our Services</h4>
              <div class="panel-group accordion style-2" id="accordion-3" role="tablist" aria-expanded="false">
                <div class="panel main-bg shape">
                  <div class="panel-heading" role="tab" id="headingOne-3">
                    <h4 class="panel-title">
                      <a role="button" class="shape" data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3" aria-expanded="true"
                        aria-controls="collapseOne-3"><i class="fa fa-desktop main-color"></i>Building Awesome Websites</a>
                    </h4>
                  </div>
                  <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet Fusce tristique, elit nec vehicula imperdiet, eros est egestas
                        odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel shape">
                  <div class="panel-heading" role="tab" id="headingTwo-3">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwo-3" aria-expanded="false"
                        aria-controls="collapseTwo-3"><i class="fa fa-circle-o-notch main-color"></i>Developing Large Portals</a>
                    </h4>
                  </div>
                  <div id="collapseTwo-3" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel shape">
                  <div class="panel-heading" role="tab" id="headingThree-3">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree-3" aria-expanded="false"
                        aria-controls="collapseThree-3"><i class="fa fa-apple main-color"></i>High Quality Designs</a>
                    </h4>
                  </div>
                  <div id="collapseThree-3" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="uppercase"><span class="main-color">Our</span> Features</h4>
              <div class="progress-bars style-6 shape">

                <span class="bar-title">Web Development</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped shape active" style="opacity: 1; width: 40%;" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100">
                    <span>40%</span>
                  </div>
                </div>

                <span class="bar-title">SEO Management</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped shape active" style="opacity: 1; width: 30%;" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                    aria-valuemax="100">
                    <span>30%</span>
                  </div>
                </div>

                <span class="bar-title">Graphic design</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning progress-bar-striped shape active" style="opacity: 1; width: 60%;" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100">
                    <span>60%</span>
                  </div>
                </div>

                <span class="bar-title">WordPress</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped shape active" style="opacity: 1; width: 80%;" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100">
                    <span>80%</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section fixed-bg" style="background-image:url('assets/images/bgs/sec-bg-03.jpg')">
        <div class="parallax-overlay" style="background-color:rgba(0,0,0,.5)"></div>
        <div class="container">
          <div class="row">
            <div class="heading main-heading centered">
              <h3 class="white">Testimonials</h3>
              <h4 class="sub-title white">What People <span class="main-color">Said</span></h4>
              <div class="heading-separator"><span class="main-bg"></span><span class="dark-bg"></span></div>
            </div>
            <div class="testimonials testimonials-4 horizontal-slider" data-slides_count="3" data-scroll_amount="1" data-slider-speed="300"
              data-slider-infinite="1" data-slider-dots="1" data-slider-arrows="0">
              <div>
                <div class="testimonials-bg white shape lg">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit consequat eget augue vitae aliquet.</span>
                </div>
                <div class="testimonials-img main-border">
                  <img alt="" src="assets/images/testimonials/3.jpg">
                </div>
                <div class="testimonials-name main-color">
                  <strong>Ellina Williams</strong>: ThemeForest
                  <br>
                  <span class="white block">UX Developer</span>
                </div>
              </div>
              <div>
                <div class="testimonials-bg white shape lg">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit consequat eget augue vitae aliquet.</span>
                </div>
                <div class="testimonials-img main-border">
                  <img alt="" src="assets/images/testimonials/2.jpg">
                </div>
                <div class="testimonials-name main-color">
                  <strong>Ellina Williams</strong>: ThemeForest
                  <br>
                  <span class="white block">UX Developer</span>
                </div>
              </div>
              <div>
                <div class="testimonials-bg white shape lg">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit consequat eget augue vitae aliquet.</span>
                </div>
                <div class="testimonials-img main-border">
                  <img alt="" src="assets/images/testimonials/1.jpg">
                </div>
                <div class="testimonials-name main-color">
                  <strong>Ellina Williams</strong>: ThemeForest
                  <br>
                  <span class="white block">UX Developer</span>
                </div>
              </div>
              <div>
                <div class="testimonials-bg white shape lg">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus adipiscing elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit consequat eget augue vitae aliquet.</span>
                </div>
                <div class="testimonials-img main-border">
                  <img alt="" src="assets/images/testimonials/4.jpg">
                </div>
                <div class="testimonials-name main-color">
                  <strong>Ellina Williams</strong>: ThemeForest
                  <br>
                  <span class="white block">UX Developer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img alt="" src="assets/images/browser-1.png" class="fx" data-animate="fadeInLeft">
            </div>
            <div class="col-md-6 vertical-icons">
              <div class="heading sub-head">
                <h3 class="head-4 uppercase font-30"><span class="main-color">The Ultimate</span> For Your Business</h3>
              </div>
              <p class="sub-heading">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English..</p>
              <ul class="list">
                <li><i class="fa fa-bell main-color"></i>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet.</li>
                <li><i class="fa fa-bell main-color"></i>Lorem ipsum dolor sit amet Fusce pellentesqu</li>
                <li><i class="fa fa-bell main-color"></i>Suspendisse hendrerit id lacus</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="parallax" style="background:transparent url('assets/images/bgs/sec-bg-01.jpg')" data-stellar-background-ratio="0.6">
        <div class="container">
          <div class="row row-eq-height">

            <div class="col-md-3 padding-vertical-80">
              <div class="section-full-bg left black-bg"></div>
              <div class="heading sub-head">
                <h3 class="head-4 uppercase white">Some <span class="main-color">Facts</span></h3>
              </div>
              <p class="white relative">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            </div>

            <div class="col-md-9 padding-vertical-80">
              <div class="row">
                <div class="col-md-3">
                  <div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-users" data-iconsize="30" data-iconcolor="#0090ff"
                    data-info="" data-width="5" data-fontsize="35" data-percent="90" data-fgcolor="#0090ff" data-bgcolor="transparent"
                    data-fill="transparent"></div>
                  <h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="2500" data-timer="500">0</h3>
                  <div class="fun-info t-center">Customers</div>
                </div>

                <div class="col-md-3">
                  <div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-umbrella" data-iconsize="30" data-iconcolor="#f358db"
                    data-info="" data-width="5" data-fontsize="35" data-percent="80" data-fgcolor="#f358db" data-bgcolor="transparent"
                    data-fill="transparent"></div>
                  <h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="5986" data-timer="500">0</h3>
                  <div class="fun-info t-center">Traffic</div>
                </div>

                <div class="col-md-3">
                  <div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-clock-o" data-iconsize="30" data-iconcolor="#49d103"
                    data-info="" data-width="5" data-fontsize="35" data-percent="50" data-fgcolor="#49d103" data-bgcolor="transparent"
                    data-fill="transparent"></div>
                  <h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="1960" data-timer="500">0</h3>
                  <div class="fun-info t-center">Working Hours</div>
                </div>

                <div class="col-md-3">
                  <div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-coffee" data-iconsize="30" data-iconcolor="#ec8a35"
                    data-info="" data-width="5" data-fontsize="35" data-percent="75" data-fgcolor="#ec8a35" data-bgcolor="transparent"
                    data-fill="transparent"></div>
                  <h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="250" data-timer="500">0</h3>
                  <div class="fun-info t-center">Cofee Cups</div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">

            <div class="heading main-heading centered">
              <h3>Our Team</h3>
              <h4 class="sub-title">More About <span class="main-color">Our Members</span></h4>
              <div class="heading-separator"><span class="main-bg"></span><span class="dark-bg"></span></div>
            </div>
            <p class="heading-desc centered">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>


            <div class="col-md-3">
              <div class="team-box box-4 shape">
                <div class="team-img">
                  <img alt="" src="assets/images/people/1.jpg" />
                </div>
                <div class="team-details main-bg">
                  <h3 class="team-name">Mohamed Abdelfattah</h3>
                  <h5 class="team-pos white">Founder</h5>
                  <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Mauris mauris ante,
                    blandit et, ultrices a, suscipit eget, quam. Integer ut neque. </p>
                  <ul class="social-list">
                    <li><a href="#" class="fa fa-dribbble shape sm"></a></li>
                    <li><a href="#" class="fa fa-facebook shape sm"></a></li>
                    <li><a href="#" class="fa fa-linkedin shape sm"></a></li>
                    <li><a href="#" class="fa fa-twitter shape sm"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-box box-4 shape">
                <div class="team-img">
                  <img alt="" src="assets/images/people/2.jpg" />
                </div>
                <div class="team-details main-bg">
                  <h3 class="team-name">Lina Mohamed</h3>
                  <h5 class="team-pos white">Producer</h5>
                  <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Mauris mauris ante,
                    blandit et, ultrices a, suscipit eget, quam. Integer ut neque. </p>
                  <ul class="social-list">
                    <li><a href="#" class="fa fa-dribbble shape sm"></a></li>
                    <li><a href="#" class="fa fa-facebook shape sm"></a></li>
                    <li><a href="#" class="fa fa-linkedin shape sm"></a></li>
                    <li><a href="#" class="fa fa-twitter shape sm"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-box box-4 shape">
                <div class="team-img">
                  <img alt="" src="assets/images/people/3.jpg" />
                </div>
                <div class="team-details main-bg">
                  <h3 class="team-name">Eyad Mohamed</h3>
                  <h5 class="team-pos white">Director</h5>
                  <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Mauris mauris ante,
                    blandit et, ultrices a, suscipit eget, quam. Integer ut neque. </p>
                  <ul class="social-list">
                    <li><a href="#" class="fa fa-dribbble shape sm"></a></li>
                    <li><a href="#" class="fa fa-facebook shape sm"></a></li>
                    <li><a href="#" class="fa fa-linkedin shape sm"></a></li>
                    <li><a href="#" class="fa fa-twitter shape sm"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-box box-4 shape">
                <div class="team-img">
                  <img alt="" src="assets/images/people/4.jpg" />
                </div>
                <div class="team-details main-bg">
                  <h3 class="team-name">Lara Jones</h3>
                  <h5 class="team-pos white">Sales Manager</h5>
                  <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Mauris mauris ante,
                    blandit et, ultrices a, suscipit eget, quam. Integer ut neque. </p>
                  <ul class="social-list">
                    <li><a href="#" class="fa fa-dribbble shape sm"></a></li>
                    <li><a href="#" class="fa fa-facebook shape sm"></a></li>
                    <li><a href="#" class="fa fa-linkedin shape sm"></a></li>
                    <li><a href="#" class="fa fa-twitter shape sm"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>

    <footer-component></footer-component>


  </div>

</div>