<footer id="footWrapper">
  <div class="footer-top main-bg">
    <div class="container">
      <div id="twitter-feed" class="slick-s shape"></div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">

        <!-- main menu footer cell start -->
        <div class="col-md-3 first">
          <h3>Main Menu</h3>
          <ul class="menu-widget">
            <li><a href="home.html">Home Page</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="blog.html">Our Blog</a></li>
            <li><a href="portfolio-grid-4-cols.html">Our Portfolio</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
          </ul>
        </div>
        <!-- main menu footer cell start -->

        <!-- Our Friends footer cell start -->
        <div class="col-md-3">
          <h3>Flickr Photos</h3>
          <p>You can checkout some of our amazing photos on flickr. </p>
          <ul id="flickrFeed" class="flickr-widget"></ul>
        </div>
        <!-- Our Friends footer cell start -->

        <!-- Useful Links footer cell start -->
        <div class="col-md-3">
          <h3>Tags Cloud</h3>
          <ul class="tags hover-effect">
            <li class="shape sm"><a href="#" data-hover="Clean">Clean</a></li>
            <li class="shape sm"><a href="#" data-hover="Design">Design</a></li>
            <li class="shape sm"><a href="#" data-hover="User interface">User interface</a></li>
            <li class="shape sm"><a href="#" data-hover="Performance">Performance</a></li>
            <li class="shape sm"><a href="#" data-hover="Development">Development</a></li>
            <li class="shape sm"><a href="#" data-hover="WordPress">WordPress</a></li>
            <li class="shape sm"><a href="#" data-hover="ThemeForest">ThemeForest</a></li>
            <li class="shape sm"><a href="#" data-hover="SEO">SEO</a></li>
            <li class="shape sm"><a href="#" data-hover="Joomla">Joomla</a></li>
            <li class="shape sm"><a href="#" data-hover="Popular">Popular</a></li>
            <li class="shape sm"><a href="#" data-hover="ASP.Net">ASP.Net</a></li>
            <li class="shape sm"><a href="#" data-hover="SharePoint">SharePoint</a></li>
            <li class="shape sm"><a href="#" data-hover="Bootstrap">Bootstrap</a></li>
            <li class="shape sm"><a href="#" data-hover="Joomla">HTML5</a></li>
            <li class="shape sm"><a href="#" data-hover="Popular">Responsive</a></li>
            <li class="shape sm"><a href="#" data-hover="Joomla">Visual</a></li>
            <li class="shape sm"><a href="#" data-hover="Popular">Studio</a></li>
          </ul>
        </div>
        <!-- Useful Links footer cell start -->

        <!-- Tags Cloud footer cell start -->
        <div class="col-md-3 last contact-widget">
          <h3>Contact Us</h3>
          <ul class="details">
            <li><i class="fa fa-map-marker shape"></i><span><span class="heavy-font">Headquarters: </span>123 Street Name, City,
              Country.</span>
            </li>
            <li><i class="fa fa-envelope shape"></i><span><span class="heavy-font">Email: </span>e-mail@company.com</span>
            </li>
            <li><i class="fa fa-phone shape"></i><span><span class="heavy-font">Tel: </span>+1(888)000-0000</span>
            </li>
            <li><i class="fa fa-skype shape"></i><span><span class="heavy-font">Skype: </span>our_skype_account</span>
            </li>
          </ul>
        </div>
        <!-- Tags Cloud footer cell start -->

        <div class="clearfix margin-bottom-30"></div>

      </div>

      <div class="bottom-md-footer">

        <div class="col-md-7">
          <label>Follow Us On:</label>
          <ul class="social-list">
            <li><a data-toggle="tooltip" data-placement="top" title="Dribbble" href="#" class="fa fa-dribbble shape sm">dribbble</a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="Facebook" href="#" class="fa fa-facebook shape sm">facebook</a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" href="#" class="fa fa-linkedin shape sm">linkedin</a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="Skype" href="#" class="fa fa-skype shape sm">skype</a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="Twitter" href="#" class="fa fa-twitter shape sm">twitter</a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="Behance" href="#" class="fa fa-behance shape sm">twitter</a></li>
          </ul>
        </div>


        <div class="f-right col-md-5 nl">
          <form action="link-to-your-site" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
            novalidate class="NL">

            <label>Subscribe to our NewsLetters:</label>

            <input class="form-control shape" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email here" required
            />

            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn main-bg shape" value="Subscribe" />

            <div class="hidden"><input type="text" name="name-of-the-hidden-field" value=""></div>

            <div class="nl-note"><span></span></div>

          </form>
        </div>

      </div>

    </div>
  </div>

  <!-- footer bottom bar start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <!-- footer copyrights left cell -->
        <div class="copyrights white">© Copyrights <b class="main-color">Recharge4.com</b> 2017. All rights reserved.</div>

        <!-- footer social links right cell start -->
        <div class="col-md-7 last">
          <ul class="footer-menu f-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- footer social links right cell end -->

      </div>
    </div>
  </div>
  <!-- footer bottom bar end -->
</footer>