<div class="pageWrapper">

  <top-bar></top-bar>

  <header-component classes='top-head'></header-component>

  <div id="contentWrapper">

    <div class="pageContent">

      <div class="page-title title-1">
        <div class="container">
          <div class="row">
            <h1>FAQ</h1>
            <h3>This is sub heading text to describe the page functionality</h3>

            <div class="breadcrumbs">
              <a href="#">Home</a><i class="fa fa-long-arrow-right main-color"></i><a href="#">Pages</a><i class="fa fa-long-arrow-right main-color"></i><span>FAQ</span>
            </div>

          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="panel-group accordion style-4" id="accordion-5" role="tablist">
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-1">
                    <h4 class="panel-title">
                      <a role="button" class="shape" data-toggle="collapse" data-parent="#accordion-5" href="#acc-1" aria-expanded="true" aria-controls="acc-1"><i class="fa fa-desktop main-color"></i>How Can i register in the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-1">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-2">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-2" aria-expanded="false"
                        aria-controls="acc-2"><i class="fa fa-circle-o-notch main-color"></i>How to make Retina Ready designs</a>
                    </h4>
                  </div>
                  <div id="acc-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-3">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-3" aria-expanded="false"
                        aria-controls="acc-3"><i class="fa fa-apple main-color"></i>Do i have to register in your site ?</a>
                    </h4>
                  </div>
                  <div id="acc-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-4">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-4" aria-expanded="false"
                        aria-controls="acc-4"><i class="fa fa-adjust main-color"></i>What are the steps for registeration in the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-5">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-5" aria-expanded="false"
                        aria-controls="acc-5"><i class="fa fa-shopping-cart main-color"></i>is there any way to buy from the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-5">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-6">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-6" aria-expanded="false"
                        aria-controls="acc-6"><i class="fa fa-money main-color"></i>What are the paymeny methods can i use in the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-6">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-7">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-7" aria-expanded="false"
                        aria-controls="acc-7"><i class="fa fa-bank main-color"></i>How Can i register in the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-7">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-8">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-8" aria-expanded="false"
                        aria-controls="acc-8"><i class="fa fa-automobile main-color"></i>How to make Retina Ready designs</a>
                    </h4>
                  </div>
                  <div id="acc-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-8">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-9">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-9" aria-expanded="false"
                        aria-controls="acc-9"><i class="fa fa-ambulance main-color"></i>What are the paymeny methods can i use in the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-9">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-10">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-10" aria-expanded="false"
                        aria-controls="acc-10"><i class="fa fa-magnet main-color"></i>Do i have to register in your site ?</a>
                    </h4>
                  </div>
                  <div id="acc-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-10">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading-11">
                    <h4 class="panel-title">
                      <a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#acc-11" aria-expanded="false"
                        aria-controls="acc-11"><i class="fa fa-archive main-color"></i>What are the paymeny methods can i use in the site ?</a>
                    </h4>
                  </div>
                  <div id="acc-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-11">
                    <div class="panel-body">
                      <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet,
                        eros est egestas odio, at aliquet elit nulla sed.</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <aside class="col-md-3">
              <ul class="sidebar_widgets">
                <li class="widget search-widget shape">
                  <h4 class="widget-head"><span class="main-color">Blog</span> Search</h4>
                  <div class="widget-content">
                    <form action="#" method="get">
                      <input type="text" name="t" id="t2-search" class="txt-box" placeholder="Enter search keyword..." />
                      <button type="submit" class="main-color"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </li>

                <li class="widget w-recent-posts shape">
                  <h4 class="widget-head"><span class="main-color">Recent </span>Posts</h4>
                  <div class="widget-content">
                    <ul>
                      <li>
                        <div class="post-img">
                          <a href="blog-single.html"><img src="assets/images/blog/small/1.jpg" alt=""></a>
                        </div>
                        <div class="widget-post-info">
                          <h5><a href="blog-single.html">Blog post title with Image</a></h5>
                          <div class="meta">
                            <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="post-img">
                          <a href="blog-single.html"><img src="assets/images/blog/small/2.jpg" alt=""></a>
                        </div>
                        <div class="widget-post-info">
                          <h5><a href="blog-single.html">Blog post title</a></h5>
                          <div class="meta">
                            <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="post-img">
                          <a href="blog-single.html"><img src="assets/images/blog/small/3.jpg" alt=""></a>
                        </div>
                        <div class="widget-post-info">
                          <h5><a href="blog-single.html">Blog post title with Image</a></h5>
                          <div class="meta">
                            <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="widget widget-categories shape">
                  <h4 class="widget-head"><span class="main-color">Blog</span> Categories</h4>
                  <div class="widget-content">
                    <ul>
                      <li><a href="blog-single.html">Corporate news</a><span>[12]</span></li>
                      <li><a href="blog-single.html">Information technology</a><span>[5]</span></li>
                      <li><a href="blog-single.html">Web development</a><span>[3]</span></li>
                      <li><a href="blog-single.html">Sports News</a><span>[25]</span></li>
                    </ul>
                  </div>
                </li>

                <li class="widget w-recent-comments shape">
                  <h4 class="widget-head"><span class="main-color">Recent</span> Comments</h4>
                  <div class="widget-content">
                    <ul>
                      <li>
                        <div class="f-left"><i class="fa fa-comments"></i></div>
                        <h5><strong>admin on</strong> <a href="blog-single.html">Blog Post with Video</a></h5>
                        <span class="meta"><i class="fa fa-clock-o"></i>Dec 28, 2013</span>
                      </li>
                      <li>
                        <div class="f-left"><i class="fa fa-comments"></i></div>
                        <h5><strong>admin on</strong> <a href="blog-single.html">Blog post title with Image</a></h5>
                        <span class="meta"><i class="fa fa-clock-o"></i>Dec 24, 2013</span>
                      </li>
                      <li>
                        <div class="f-left"><i class="fa fa-comments"></i></div>
                        <h5><strong>admin on </strong> <a href="blog-single.html">Blog post title with Image</a></h5>
                        <span class="meta"><i class="fa fa-clock-o"></i>Dec 22, 2013</span>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="tabs-style-bg shape">
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#s-1"><span>Tags</span></a></li>
                      <li role="presentation"><a href="#s-2"><span>Comments</span></a></li>
                      <li role="presentation"><a href="#s-3"><span>Recent</span></a></li>
                    </ul>

                    <div class="tab-content main-bg">
                      <div role="tabpanel" class="tags-widget tab-pane fade in active" id="s-1">
                        <div class="tags">
                          <a href="#">Design</a>
                          <a href="#">User interface</a>
                          <a href="#">Performance</a>
                          <a href="#">Development</a>
                          <a href="#">WordPress</a>
                          <a href="#">SEO</a>
                          <a href="#">Joomla</a>
                          <a href="#">ASP.Net</a>
                          <a href="#">SharePoint</a>
                        </div>
                      </div>

                      <div role="tabpanel" class="tab-pane fade" id="s-2">
                        <div class="w-recent-comments">
                          <ul>
                            <li>
                              <div class="f-left"><i class="fa fa-comments"></i></div>
                              <h5><strong>admin on</strong> <a href="blog-single.html">Blog Post with Video</a></h5>
                              <span class="meta"><i class="fa fa-clock-o"></i>Dec 28, 2013</span>
                            </li>
                            <li>
                              <div class="f-left"><i class="fa fa-comments"></i></div>
                              <h5><strong>admin on</strong> <a href="blog-single.html">Blog post title with Image</a></h5>
                              <span class="meta"><i class="fa fa-clock-o"></i>Dec 24, 2013</span>
                            </li>
                            <li>
                              <div class="f-left"><i class="fa fa-comments"></i></div>
                              <h5><strong>admin on </strong> <a href="blog-single.html">Blog post title with Image</a></h5>
                              <span class="meta"><i class="fa fa-clock-o"></i>Dec 22, 2013</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div role="tabpanel" class="tab-pane fade" id="s-3">
                        <div class="w-recent-posts">
                          <ul>
                            <li>
                              <div class="post-img">
                                <a href="blog-single.html"><img src="assets/images/blog/small/1.jpg" alt=""></a>
                              </div>
                              <div class="widget-post-info">
                                <h5><a href="blog-single.html">Blog post title with Image</a></h5>
                                <div class="meta">
                                  <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="post-img">
                                <a href="blog-single.html"><img src="assets/images/blog/small/2.jpg" alt=""></a>
                              </div>
                              <div class="widget-post-info">
                                <h5><a href="blog-single.html">Blog post title</a></h5>
                                <div class="meta">
                                  <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="post-img">
                                <a href="blog-single.html"><img src="assets/images/blog/small/3.jpg" alt=""></a>
                              </div>
                              <div class="widget-post-info">
                                <h5><a href="blog-single.html">Blog post title with Image</a></h5>
                                <div class="meta">
                                  <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </li>

                <li class="widget shape">
                  <h4 class="widget-head"><span class="main-color">Flickr</span> Stream</h4>
                  <div class="widget-content">
                    <ul id="flickrFeed2" class="flickr-widget"></ul>
                  </div>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>

    </div>

    <footer-component></footer-component>

  </div>
</div>